.container {
  margin: auto !important;
  margin-top: 60px !important;
  width: 90% !important;
}
.header {
  background-color: #c5dfff;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
